*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #F5F5F5; 
    margin: 0; 
}

.header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 35px 12%;
    background-color: #639f38; 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    color: #F5F5F5; 
    font-weight: 600;
    transition: all 0.3s ease;
}

span{
    color: #154b6b; 
}

.navbar a{
    font-size: 18px;
    color: #F5F5F5; 
    font-weight: 500;
    margin: 0 20px;
    transition: color 0.3s ease; 
}

.navbar a.active {
    color: #154b6b; 
}

.navbar a:hover,
.navbar a.active{
    color: #154b6b; 
}

.startGame{
    padding: 10px 28px;
    background-color: #F5F5F5; 
    color: black; 
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.startGame:hover{
    background-color: #154b6b; 
    color: #F5F5F5; 
    border: 2px solid #154b6b;
    box-shadow: 0 0 25px #154b6b; 
}

#map {
    height: calc(100vh - 70px);
    width: 100%;
    margin-top: 70px;
}
